body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #d7f89d, #92e5cb);
    background-attachment: fixed;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.container > div.card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #d9f9ec;
    border-radius: 1rem;
}
.container > div.card  > div {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container > div.card > div:not([class]) {
    /* background-color: #e5e5e5; */
    background-image: radial-gradient(#d9f9ec, #fafbf5 75%);
}
.container > div.card > div.header {
    grid-column: 1 / -1;
    aspect-ratio: auto;
}
.container > div.card > div.subheader {
    grid-column: 1 / -1;
    aspect-ratio: auto;
    background-color: #11a7a8;
    /* border-radius: 1rem 1rem 0rem 0rem; */
}
.container > div.card > div > font {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
}
.container > div.card > div > img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}
